<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jiuri.com.firstapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!--  mob ssmsdk-->

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:name="com.mob.MobApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|locale"
            android:windowSoftInputMode="stateVisible|adjustPan"
            />
        <activity android:name=".ui.activity.SetingActivity"/>
        <activity
            android:name=".ui.activity.AdActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ui.activity.NewsDetailActivity"
            />
        <activity android:name=".ui.activity.SurfaceViewTestActivity"/>
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity android:name=".ui.activity.TestActivity"/>
        <activity android:name=".ui.activity.VersionDetailActivity"/>
      <!--  mob sssdk-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <meta-data android:name="Mob-AppKey" android:value="206e50cc742c8"/>
        <meta-data android:name="Mob-AppSecret" android:value="6299005a8c02eea7da281662f23bc3cc"/>
    </application>

</manifest>